{{#each comments}}
<div class="comment">
  <h3>{{name}}</h3>
  <p>{{body}}</p>
  <form method="POST" action="/comments/{{id}}">
    <button type="submit">Delete Comment</button>
  </form>
</div>
{{/each}}
<script src="/js/add-post.js"></script>