<section>
    <h2>Sign up</h2>
    <div>
        <form id="signup-form">
            <div>
                <label>Username</label>
                <input type="text" id="username">
            </div>
            <div>
                <label>Password</label>
                <input type="password" id="password">
            </div>
            <div>
                <input type="submit">
            </div>
            <a href="/login">Login</a>
        </form>
    </div>
</section>
<script src="/js/signup.js"></script>